
<h1>Welcome to Eventbrite !!!</h1>
<% if signed_in? %>
  <%= link_to "Sign Out", signout_path , method: "delete" %><br><br>

<% else %>
  <%= link_to "Sign Up", signup_path %><br><br>
  <%= link_to "Sign In", signin_path %>
<% end %>
