<h1>All users</h1>


<div style="float: left; width: 500px; margin: 10px; padding-left: 20px">
  <h3>Past Events</h3>
      <%= render @events_past %>
</div>

<div style="float: left; width: 500px" >
  <h3>New Events</h3>
      <%= render @events_future %>
</div>
